include formatting_functions.pug

<!-- Chart generated on #{Date()} using GTFS-to-Chart version #{config.gtfsToChartVersion} -->
.chart-page
  .container
    .row.mt-4.mb-4
      .col-md-12
        a(href="/gtfs-to-chart/charts/amtrak/") ‹ Back
        h1.timetable-page-label
          span= routeName
        h3= moment(config.chartDate, 'YYYYMMDD').format('MMMM D, YYYY')

    .chart(id="chart")

    ul.notes
      each note in chartData.notes
        li= note

    .row-mt-4.mb-4
      a(href="https://github.com/BlinkTagInc/gtfs-to-chart") Created with GTFS-to-Chart
