extends layout

block content
  include formatting_functions.pug
  .container
    .row.mt-4.mb-2
      .col-md-12
        h1.overview-label= `${agency} Schedules`
    .row.mt-4.mb-2
      .col-md-12
        .input-group.mb-3
          .input-group-prepend
            button.btn.btn-outline-secondary(type='button' onclick='clearFilter()') Clear
          input#filter.form-control(type='text' placeholder='Search...' oninput='filterRoutes()')
    .row
      if !routes || !routes.length
        .col-md-6.col-md-offset-3
          .well No routes found
      else
        div(class= config.showMap ? 'col-md-3' : 'col')
          .list-group
            each route in routes
              a.list-group-item(href=`${route.relativePath}`)
                h4.list-group-item-heading.d-flex.align-items-center
                  if route.route_color
                    .route-color-swatch-large(style=`background-color: #${route.route_color}`)
                  span= route.label
                  span(style='display:none;')= ` ${route.keywords}`
block footer
  script.
    function filterRoutes() {
      let filterText = document.querySelector('#filter').value.toLowerCase();
      let listItems = document.querySelectorAll('a.list-group-item');
      listItems.forEach(listItem => {
        if (filterText !== '' && !listItem.textContent.toLowerCase().includes(filterText)) {
          listItem.setAttribute('hidden', 'true');
        } else {
          listItem.removeAttribute('hidden');
        }
      });
    }
    function clearFilter() {
      document.querySelector('#filter').value = '';
      filterRoutes();
    }
    filterRoutes();
